<div class="container">
  <div class="row mt-5">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 border'>
      <h2>このサイトでは、</h2>
      <p class="mt-5">愛車のお気に入りの箇所や失敗してしまった事例などを</p>
      <p>共有していただいたり、</p>
      <p> これから車を購入しようとしている人たちや</p>
      <p>カスタムに挑戦しようとしている方達への</p>
      <p>お助けにもなればと思います。</p>
      <p>
        ※会員登録をしていなくても閲覧は可能です。</br>
        （一部利用できない機能があるため、ご了承ください。）
      </p>
    </div>
  </div>
</div>