<div class="container">
  <div class="row mt-5">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2><strong>ようこそcar_FAVへ！</strong> !</h1>
      <p class="mt-5">あなたの愛車をぜひ共有してください。</p>
      <p>そして、まだ見ぬ発見を探しに来た方も、</p>
      <p> このサイトで見つけられるでしょう。</p>
      <p>車好きの皆さま、ぜひお楽しみください。</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row mt-5">
          <%= link_to "Let's go Reviews!", reviews_path, class: "btn btn-primary btn-sm btn-block rounded-pill" %>
        </div>
      </div>
    </div>
  </div>
</div>
