<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-center text-dark bg-light p-4 mb-0">レビュー投稿編集</h5>
      <%= render "form", review: @review %>
    </div>
  </div>
</div>