@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Zen+Old+Mincho:wght@400;500;600&display=swap');

  body {
    font-family: 'Kiwi Maru', serif;
    background-color: #bfbbbb;
    header {
      background-color: #7d8e95;
    }
  }