<h1>通知一覧</h1>

<% @notifications.each do |notification| %>
  <% user = notification.user %>
  <% target = notification.target %>
  
  <div class="notification">
    
    <% if notification.action == 'comment' %>
      <% if target.is_a?(Comment) %>
      
        <% if target.parent.nil? %>
          <% comment = notification.target %>
          <% review = comment.review %>
          <p><%= link_to "#{notification.user.nickname}さんがあなたの投稿にコメントしました。", review_path(review), class: "text-dark" %></p>
        <% else %>
          <% reply = notification.target %>
          <% comment = reply.parent %>
          <% review = comment.review %>
          <p><%= link_to "#{reply.user.nickname}さんがあなたのコメントに返信しました。", review_path(review), class: "text-dark" %></p>
        <% end %>
        
      <% end %>
    <% end %>
    <%= link_to "Mark as Read", mark_as_read_notification_path(notification), method: :patch %>
  </div>
  <hr>
<% end %>
